@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Libre+Baskerville:wght@400;700&family=Macondo&family=Montserrat:wght@600&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,500;0,700;1,200;1,400;1,500&family=Roboto:ital,wght@1,100&family=Tiro+Devanagari+Sanskrit&display=swap');
/*****Global Styles *******/
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 background:#421788;
 max-height:100vh;
 width:100vw;
}
.container{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative
}

header{
 height:4rem;
 width:100%;
 color:#fff;
 font-size:20px;
 font-weight:400;
 display:flex;
 align-items:center;
 justify-content:space-around;
 letter-spacing:2px;
}
.fa-share-nodes{
 font-weight:200;
 font-size:18px;
}


main{
 height:calc(100% - 180px - 4rem);
 width:100%;
 position:relative;
 background-repeat:no-repeat;
 background-size:cover;
 background-position:center;

 
/* border:2px solid red;*/
}
 
.title-container{
 padding-top:70%;
 height:100%;
 color:#fff;
 display:flex;
 flex-direction: column;
 align-items:center;
 justify-content:center;
}
.titleText{
 font-size:18px;
 font-weight:400;
 letter-spacing:2.3px;
 text-transform:uppercase;
 width:80%;
 line-height:25px;
 text-align:center;
}
.dead{
 text-transform:capitalize;
 letter-spacing:1.8px;
}
.author{
 font-size:12px;
 text-transform:lowercase;
 font-weight:400;
 margin-top:15px;
}
footer{
 width:100%;
 height:180px;
 background:#14587B;
/* border:2px solid green;*/
}
.stDot,.ndDot{
 background:#fff;
 width:10px;
 height:10px;
 border-radius:50%;
 position:absolute;
 top:25rem;
}
.stDot{
 right:46%;
}
.ndDot{
 left:46%;
}
.fa-circle-play,.fa-circle-pause{
 color:white;
 font-size:60px;
 font-weight:300;
 
}
.main-section{
 width:100%;
 height:60%;
}
.controlBtns{
 display:flex;
 align-items:center;
 justify-content:space-around;
 height:calc(100% - 6px);
 width:100%;
 margin:0 auto;
/* border:solid 2px tomato;*/
}
.controlBtns .fa-sharp{
 color:#fff;
 font-size:25px;
}
.controlBtns .fa-rotate-right,
.controlBtns .fa-rotate-left{
 font-size:18px;
 color:lightgrey;
}
.upContainer,.downContainer{
 display:flex;
 align-items:center;
 column-gap:3px;
}
.increaseTime,.decreaseTime{
 color:lightgrey;
 font-size:15px;
 font-weight:400;
}
.last-section{
 display:flex;
 align-items:center;
 justify-content:space-between;
 padding:0 15px;
 height:40%;
}
.last-section > *{
 color:white;
 font-size:18.0px;
 font-weight:500;
 letter-spacing:1.6px;
}

/*****slider *********/

.slider{
 width:100%;
 height:6px;
 padding:none;
 margin:none;
 border-radius:none;
 z-index:2;
}
.volume{
 position:absolute;
 transform:rotate(-90deg);
 right:-60px;
 width:50%;
 top:12rem;
}
.fa-volume-high,.fa-volume-xmark{
 position:absolute;
 right:1.05rem;
 top:18.8rem;
 color:#fff;
}
.speed{
 width:3.4rem;
}
.fa-shuffle1,.fa-share{
 color:white;
 font-size:19px;
 position:absolute;
 right:1.3rem;
 top:28.4rem;
 z-index:2; 
}
/*****playList page styling****/
.header{
    color:#fff;
    background:#603000;
    box-shadow:2px 2px 10px black;
}
.heading{
    text-align:center;
    font-size:30px;
    font-weight:700;
    font-family:Times New Roman;
    padding-bottom:1rem;
    text-transform:capitalize;
    letter-spacing:3px;
}
.playList{
 width:100%;
 height:100vh;
 background:#000;
 position:absolute;
 top:0;
 right:100%;
 left:100%;
 z-index:2;
 transition:all linear .5s;
}
.showPlayList{
    right:0;
    left:0;
}
.icons-container{
    padding:1rem 1.3rem 0 1.3rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.icons-container i{
    font-size:16px;
}

/*****Main STYLING START HERE ****/

.main{
    background:#000;
}
.btn-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:90%;
    margin:0px auto;
    padding-top:6rem;
    padding-bottom:1rem;
}
.btn-container button{
    color:#fff;
    font-size:15px;
    text-transform:capitalize;
    border:none;
    border-radius:10px;
    background:#222;
    padding:10px;
    width:48%;
    font-weight:500;
    letter-spacing:2.5px;
    transition:all linear .4s;
}
.btn-container button:hover{
    background:#030303;
}
/*****  songs container styles *****/

.songs-container{
    background:transparent;
    width:90%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top:15px;
}
.song{
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
}
.songImg{
    height:60px;
    width:60px;
    object-fit:cover;
    object-position:center;
    border-radius:10px;
}
.songInfo{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:start;
    row-gap:5px;
    padding:10px;
    padding-left:20px;
    
}
.songTitle{
    color:#fff;
    font-size:14px;
    font-weight:400;
    text-transform:capitalize
}
.songAuthor{
    color:grey;
    font-weight:400;
    font-size:12px;
}
.songs-container .fa-solid{
    color:#fff
}
.pumpHeart{
  animation:pump .5s linear 1 ;
}
@keyframes pump{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(2);
  }
  100%{
    transform:scale(1);
  }
}
.noValue{
  color:white;
  background:transparent;
  text-align:center;
  text-transform:capitalize;
  letter-spacing:2px;
  font-weight:500;
  font-family:Poppins;
  height:100%;
  padding-top:49%;
}

/******* delete from playList ****/

.deleteLikedSong{
  position:absolute;
  width:fit-content;
  padding:6px 15px;
  background:rgba(96,96,96,.5);
  color:white;
  font-size:13;
  font-weight:500;
  border-radius:10px;
  right:20px;
  top:50%;
  letter-spacing:2px;
  text-transform:capitalize;
  transform:translateY(-50%);
  visibility:hidden;
  z-index:-1;
  transition:all ease-in-out 0.4s;
}
.showDelete{
  visibility:visible;
  z-index:1;
}